@font-face {
  font-family: introScript;
  src:url(../public/font/intro-script-demo-medium.otf);
}
@font-face {
  font-family: standard;
  src:url(../public/font/HKGrotesk-Bold.otf);
}
@font-face {
  font-family: alegreya;
  src:url(../public/font/alegreyasans-black.ttf);
}

.main {
  position: absolute;
  display: flex;
  height: 90%;
  width: 60%;
  top: calc((100% - 90%) / 2);
  left: calc((100% - 60%) / 2);
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0 0 0 4px #d5d5d5;
  z-index: 100;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: standard, serif;
    height: 100%;
    width: 100%;

    .title {
      font-family: introScript, serif;
      font-size: 45px;
    }

    .element {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 5px;

      label {
        font-size: 20px;
        text-decoration: underline;
      }

      .images {
        overflow-x: scroll;
        display: inline-flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 200px;

        .image {
          border-radius: 20px;
          border: 2px solid black;
          height: 150px;
          width: 150px;
          margin-left: 5px;

          .imageElement {
            border-radius: 18px;
          }
        }
      }

      .description {
        display: block;
        transform: translate3d(0, 10px, 0);
        font-size: 16px;
        overflow-wrap: break-word;
        text-align: justify;
        width: 80%;
        height: 160px;
        color: #838383;
      }
    }
  }
}

