@font-face {
  font-family: introScript;
  src:url(../public/font/intro-script-demo-medium.otf);
}
@font-face {
  font-family: standard;
  src:url(../public/font/HKGrotesk-Bold.otf);
}
@font-face {
  font-family: alegreya;
  src:url(../public/font/alegreyasans-black.ttf);
}


.card {
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid black;
  border-radius: 25px;
  margin-top: 10px;
  transition: 0.5s;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    font-family: standard, serif;
    border-bottom: 2px solid black;

    .leftSide {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .title {
        font-family: introScript, serif;
        font-size: 35px;
        margin-left: 10px;
        margin-top: 30px;
      }

      .username {
        margin-left: 15px;
        margin-top: 8px;
      }

      .timestamp {
        margin-left: 5px;
        margin-top: 8px;
      }
    }

    .rightSide {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .pin {
        margin-top: 8px;
      }

      .location {
        margin-right: 10px;
        margin-top: 8px;
      }
    }
  }

  .center {
    display: flex;
    flex-direction: row;
    font-family: standard, serif;
    font-size: 15px;
    width: 100%;
    height: 100%;
    transition: 0.5s;

    .centerLeft {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      height: 100%;
      width: 100%;
      transition: 0.5s;


      .description {
        display: flex;
        position: relative;
        flex-direction: column;
        overflow: hidden;
        margin-left: 5px;
        margin-top: 5px;
        width: calc(88% - 10px);
        transition: 0.5s;

        .textarea {
          display: block;
          position: relative;
          overflow-wrap: break-word;
          color: #838383;
          text-align: justify;
          width: 100%;
          height: 100%;
        }

        .medias {
          transform: translate3d(0, -50px, 0);
          position: relative;
          margin-left: 2.3px;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: flex-start;
          height: 380px;
          width: calc(100% - 4.6px);
          transition: 0.5s;
          gap: 5px;
          overflow-x: scroll;

          .image {
            border: 2px solid black;
            border-radius: 10px;
            transition: 0.5s;
          }
        }
      }

      .footer {
        position: relative;
        width: calc(88% - 20px);
        margin-left: 10px;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        transition: 0.5s;

        .subReport {
          margin-top: 5px;
          font-family: standard, serif;
          font-size: 15px;
          padding: 5px 10px;
          border: 2px solid black;
          border-radius: 8px;
          background-color: #24985a;
          color: #fdfdfd;
          width: calc(100% - 15px);
          margin-left: 5px;
          transition: 0.3s;

          &:hover {
            cursor: pointer;
            background-color: #167342;
          }
        }

          .cancelMission {
            position: relative;
            display: flex;
            margin-top: 5px;
            font-family: standard, serif;
            font-size: 15px;
            padding: 5px 10px;
            border: 2px solid black;
            border-radius: 8px;
            background-color: red;
            color: #fdfdfd;
            width: calc(100% - 255px);
            margin-left: 5px;
            transition: 0.3s;

            &:hover {
              cursor: pointer;
              background-color: #de0000;
            }
          }
        }
    }

    .centerRight {
      margin-left: -52px;
      position: relative;
      width: 50px;
      height: calc(100% - 2px);
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 2px solid black;
      border-bottom-right-radius: 23px;
      transition: 0.5s;
      user-select: none;

      .arrow {
        position: relative;
        transition: 0.5s;
      }

      &:hover {
        cursor: pointer;
        background-color: #cecece;
      }

      &:hover .arrow {
        bottom: -4px;
      }
    }
  }
}
